connexion == 2.0.0
swagger-ui-bundle == 0.0.2
python_dateutil == 2.6.0
setuptools >= 21.0.0
tflearn
pymongo
numpy
flask_cors
pillow>=8.1.1 # not directly required, pinned by Snyk to avoid a vulnerability